__pycache__/test_sorts.cpython-37.pyc
__pycache__/time_sorts.cpython-37.pyc
__pycache__/sorts.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
__pycache__/searches.cpython-37.pyc
__pycache__/test_searches.cpython-37.pyc
__pycache__/**
tempCodeRunnerFile.python
tempCodeRunnerFile.py
.vscode/settings.json
Notes.txt
scratches/**
